<div class="auth-page">
    <div class="list">
      <div class="top">
        用户信息
      </div>
      <div class="data">
        <table class="table">
          <thead><tr><th>手机号</th><th>注册手机</th><th>注册地点</th><th>注册平台</th><th>认证状态</th><th>账户余额</th><th>退款状态</th><th>操作</th></tr>
          </thead>
          <tbody>
          <tr>
            <td>18800176960</td>
            <td>2016-10-16 22:30:13</td>
            <td>北京市</td>
            <td>IOS</td>
            <td class="orange">待审核</td>
            <td>0</td>
            <td>-</td>
            <td  class="blue"><a><span class="blue">认证</span></a>&nbsp;|&nbsp;<a><span class="blue">优惠券</span></a>&nbsp;|&nbsp;<a><span class="blue">余额退款</span></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="list">
    <div class="top">
      用户信息
    </div>
    <div class="data">
      <table class="table">
        <thead><tr><th>手机号</th><th>注册手机</th><th>注册地点</th><th>注册平台</th><th>认证状态</th><th>账户余额</th><th>退款状态</th><th>操作</th></tr>
        </thead>
        <tbody>
        <tr>
          <td>18800176960</td>
          <td>2016-10-16 22:30:13</td>
          <td>北京市</td>
          <td>IOS</td>
          <td class="orange">待审核</td>
          <td>0</td>
          <td>-</td>
          <td  class="blue"><a><span class="blue">认证</span></a>&nbsp;|&nbsp;<a><span class="blue">优惠券</span></a>&nbsp;|&nbsp;<a><span class="blue">余额退款</span></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
